<p id="notice"><%= notice %></p>

<% if !current_user.nil? %>

<!-- <table>
  <thead>
    <tr>
      <th>User</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.user_id %></td>
        <td><%= tweet.body %></td>
        <td><%= link_to 'Show', tweet %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
        
      
    <% end %>
   
  </tbody>
</table> -->

<!--%= image_tag '21.jpeg' %-->

<br>

<h4> Feel like tweeting !</h4>
<a href="tweets/new" class="btn btn-info" role="button">Tweet</a>
<br/> <br/>
<h1>Listing Tweets</h1>

<div>
 <% if @my_tweets.nil? %>
   <p>Value is nil unfortunately</p>
 <% else %>
      <% for tweet in  @my_tweets %>
  <% words = tweet.text.split(/ /) %>
  <% @hash_tags = [] %>
  <% for word in words %>
   <%  if word.include?("#") || word.include?("@") %>
        <% word.slice!(0) %>
    <%  @hash_tags << word %>
   <% end %>
  <% end %> 
  The tweet is <br/>
  <li>
    <%= tweet.text %>
      <br />
    <% if !@hash_tags.empty? %>
        The keywords are

        <% for tag in @hash_tags %>
          <%= tag %>
        <% end %>
    <% end %>
  </li>

 <% end %>
 <br /> 
 <h2>News Articles</h2>
   <% @htags.uniq.shuffle.each do |query| %>
       <% search = Google::Search::News.new do |search| %>
        <% search.query = query %>
        <% search.size = :small %>
        <% end %>
      <% search.first(4).each do |item| %>
         <h4><%= item.title.html_safe %><h4><br />
         <% result = Google::Search::Image.new(:query => item.title, :image_size => :xlarge) %>
         <%  r = result.first(3) %>
         <% r.each do |image| %>
            <%= image_tag "#{image.uri}",:size => "150x150" %>
         <% end %>
         <br />
         <%= link_to item.uri, item.uri %> <br /><br />
         <% end %>
   <% end %>
 
 <% end %>
<% end %>
